/*Hey this is a change */
/* html style */
html {

    background-color: white;
}

/* body style */
body {

    border: 2px solid black;
    width: 1200px;
    background-color: lightgray;
    padding: 2px;
    margin: 0 auto;
}
/* header style */

header {

    background-color: lightcyan;
    border-bottom: 2px solid black;
    height: 220px;
}

/* website logo style */

header img {

    width: 90px;
    height: 90px;
    border-radius: 50%;
    float: left;
    margin: 40px;
}

/* header headings */

header h1 {

    color: darkcyan;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-style:italic;
    text-align: left;
    padding: 30px;
}

header h2 {

    color: darkcyan;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 10px;
}

/* main style */

main section img#feature {

    width: 400px;
    height: 300px;
    margin:10px auto;
    display: block;
}

.intro {

    border: 2px solid red;
    background-color: azure;
}

nav ul {

    list-style-type: none;
}

nav ul li {

    display: inline;
    margin: 20px;
}

nav ul li a {

    font-size: 23px;
    color: darkgreen;
    
}

nav ul li a:link {

    color: blueviolet;
}

nav ul li a:visited {

    color: red;
}

nav ul li a:hover {

    color: darkmagenta;
    text-decoration: underline;
}
nav ul li a:active {

    color: yellowgreen;
    text-decoration: none;
}

body p {


    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    color: darkred;
}

a {

    color: blue;
    text-decoration: none;
    font-size: 17px;
}

/* footer style */

footer {

    background-color: lightcyan;
    height: 150px;
    border-top: 2px solid black;
}

footer p{

    text-align: center;
    font-size: 20px;
  
}

footer p a {

    text-decoration:underline;
}

